.body__show {
  background-color: rgb(237, 235, 153);
  text-align: center;
  position: relative;
  display: block;
}

.body__hidden {
  display: none;
}

.body__content {
  padding: 1rem 0;
}

.body__content--first_span {
  font-weight: bold;
}

.body__content--last {
  font-size: 1.25rem;
  font-weight: bold;
}

.icon__bix {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 505px) and (min-width: 320px) {
  .body__show {
    display: none;
  }
}
